$large: 992px;
$small: 767px;
$x-large: 1366px;
$xxl-large: 1650px;
$x-small: 320px;
$modal-lg: 1200px;

$primary: #252525;
$secondary: #9f9f9f;
$background: #ffffff;
$text: #03081c;
$secondary-text: #f1f1f1;
$label-text: #9f9f9f;
$white: #f8f8f8;
$cancel: #dfdfdf;
$gray: #9f9f9f;
$error: #dc2d2d;

$z-index-modal: 103;

